@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import '@fortawesome/fontawesome-free/css/all.css'; 

body {
    font-family: 'Montserrat', sans-serif;
}

.hide {
    display: none;
}

.min-h-15 {
    min-height: 25vh;
}

.description-container {
    max-height: 40vh;
    overflow-y: auto;
}